# Configuración de la base de datos en Azure
DB_SERVER=sqlserver-pruebas-fisi.database.windows.net
DB_NAME=BI_Proyecto_SUNEDU
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña

# Ruta del archivo Excel (puede ser relativa)
EXCEL_PATH=data/modelo_final.xlsx